%legend= t("sign_in")

= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-inline' } do |f|
  .form-inputs
    = f.input_field :email, placeholder: t("user.email"), class: 'input-medium', label: false
    = f.input_field :password, label: false, placeholder: t("user.password"), class: 'input-medium'

    = f.button :submit, t("sign_in")

= render "devise/shared/links"
