%legend Προσφορά
= simple_form_for @post, html: { class: 'form-vertical' } do |f|
  = f.error_notification 
  = display_base_errors @post

  = f.input :name, :wrapper => :prepend, label: false do
    = content_tag :span, t("post.name"), :class => "add-on"
    = f.input_field :name, placeholder: 'π.χ. Καφενείον ο πόθος'

  = f.input :body, as: :text, input_html:  { class:  "span6" }, label: t("post.information"), placeholder: 'Στους 10 καφέδες, ένας καφές και ένα κομμάτι γλύκισμα δωρεάν. ', input_html: { rows: 5 }

  = f.input :link, label: t("post.link"), placeholder: 'http://link/to/page', input_html: { rows: 5 }

  = f.input :city_id, label: 'Πόλη', collection: City.all, prompt: "Επιλέξτε πόλη"

  = f.input :tag_list, input_html:  { class:  "span6" }, label: 'Ετικέτες', required: true, placeholder: 'π.χ. καφές, γλυκιστικά'

  .form-actions
    = f.button 'submit', class: "btn-primary"
