!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "τσεντ.ίν"
    %meta{:content => "Κυπριακή διαδυκτιακή κοινότητα. Προσθέστε τις προσφορές σας ή προσφορές που έχετε δει κάπου και μπορούν να εξυπηρετήσουν το κυπριακό κοινό.", :name => "description"}
    %meta{:content => "ExtractMethod", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    %a{ :href => "https://github.com/despo/tsentin" }
      %img{ :style => "position: absolute; top: 41px; right: 0; border: 0;",
        :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",
        :alt => "Fork me on GitHub" }
    %header
      .container
        .row
          .span3.offset2
            =image_tag 'tsentin.png', class: 'img-rounded'

          .span3
            %p.lead
              %h1
                κυπριακές τοπικές προσφορές
                %small γιατί το τσεντίν εφκέρωσεν

    #main{:role => "main"}
      .container
        .content
          .span12
            .row.show-grid
              = render 'layouts/messages'
              .span9
                = yield
              .span3
                = render 'posts/sidebar'
      %footer
        =render 'layouts/footer'

